@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
  font-family: 'Poppins', sans-serif;
}


.cta-button-primary {
  border-radius: 4px;
  background: var(--Button2, #DB4444);
  @apply p-3 text-white font-poppins text-sm;
}

.cta-button-secondary {
  border-radius: 4px;
  @apply p-3 font-poppins text-sm text-[#DB4444];
}

.container {
  width: 100%;
  height: 100%;
}